﻿@using TechBlogApp.Domain.Models
@model Article

@{
    ViewData["Title"] = "Create Article";
}

<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>


<h5 class="mb-4">@ViewBag.Data</h5>

<div>
    <form action="CreatorPage" method="POST" enctype="multipart/form-data">
        <input hidden asp-for=ArticleId />
        <input hidden asp-for=ImagePath />
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title</label>
            <input type="text" asp-for="Title" class="form-control" />
        </div>        
        @if (!string.IsNullOrEmpty(Model?.ImagePath))
        {
            <div>
                <img style="height:200px;width:200px;" src="~/images/@Model.ImagePath" />
            </div> 
        }

        <div class="form-group">
            <label for="imageFile" class="control-label">Upload Image</label>
            <input type="file" class="form-control-file" id="imageFile" name="ImageFile" accept="image/*" onchange="previewImage(event)" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
            <div class="mt-2">
                <img id="imagePreview" style="max-height: 200px;" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Tags"></label>
            <textarea asp-for="Tags" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Tags" class="text-danger"></span>
            <small>Type tags ex:#Tech #Lifestyle separated by space.</small>
        </div>
        <br />

       
        <textarea asp-for=Content id="myEditor"></textarea>
        <input hidden asp-for=DatePublished type="date" value="@DateTime.Today" />
        <button type="submit" class="btn btn-secondary mt-4">Submit</button>
    </form>

    <script>

        var editor = new FroalaEditor('#myEditor', {
            toolbarButtons:   [['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript'], ['fontFamily', 'fontSize', 'textColor', 'backgroundColor'], ['inlineClass', 'inlineStyle', 'clearFormatting']]
        });
    </script>

    <script>
        function previewImage(event) {
            var imagePreview = document.getElementById('imagePreview');
            imagePreview.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>

</div>