@{
    ViewData["Title"] = "About Us";
}
<div class="page-heading about-heading header-text" style="background-image: url(../assets/images/heading-1-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h2>Welcome to Tech Blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">Innovations and Breakthroughs</h2>
            <p style="text-align:justify;">Stay updated on the cutting-edge advancements that are shaping our future. From artificial intelligence and quantum computing to the latest in consumer electronics, we've got you covered. Embrace the AI revolution and stay curious as technology continues to reshape the possibilities of artificial intelligence! Future AI holds potential in understanding emotions, creative problem-solving, and enhancing various industries, paving the way for exciting advancements. Ethical concerns arise due to biased algorithms, data privacy, and job displacement. Addressing these challenges is crucial for responsible AI development.</p>
        </div>
        <div class="col-md-6">
            <img style="height:300px;width:100%" src="https://www.siliconrepublic.com/wp-content/uploads/2020/12/AdobeStock_389071495-718x523.jpeg" alt="Innovations and Breakthroughs" class="img-fluid">
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img style="height:300px;width:100%;" src="https://assets.thehansindia.com/h-upload/2021/08/11/1101329-tech-updatesssss.webp" alt="Tutorials and How-Tos" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">Tutorials and How-Tos</h2>
            <p style="text-align:justify;">Our step-by-step tutorials make even the most complex tech concepts easy to understand. Whether you're looking to set up a smart home, learn coding languages, or master the art of photo editing, we'll guide you through the process.To begin with AI, learn programming languages like Python and explore libraries such as TensorFlow. Online courses and tutorials can provide valuable insights</p>
        </div>
    </div>
</div>
